body
{
background-color:rgb(51, 204, 204);
font-family: 'Roboto', sans-serif;
}
.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-brand
{
color:blue;
font-size:20px;
font-weight:bold;
}
.btn-outline-danger
{
color:red;
border-color:blue;
}
.table
{
text-align:center;

}
.footer
{
height:45px;
width:100%;
background-color:#676767;
position:fixed;
bottom:0;
left:0;
font-weight:bold;
text-align:center;
}
#id2
{
width:24rem;
}