<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<div style="margin-bottom:150px;">-->
<!--        <div class="container fluid-1" style="margin-bottom:5px;">-->
<!--        <img src="{% static 'images/n.gif' %}" height="200px" width="850px" style="margin-left:150px;" class="center">-->
<!--      </div>-->
<!--<div class="container-fluid mt-4">-->
<!--        <img src="{% static 'images/img.jpg' %}" height="200px" width="500px" style="margin-left:0px;" class="center">-->

<!--<h4 class="col-sm-6 border border-3 bg-danger border-secondary" style="display:inline-block;margin-right:40px;margin-bottom:5px;text-transform: uppercase;">-->
<!--    <strong>Legislature can't overrule court verdict,<br> can enact fresh law:CJI Chandrachud</strong></h4>-->

<!--        <p class="" style="col-sm-7 border border-3 bg-danger border-secondary;align:justify;border-bottom: 3px solid black">-->
<!--<strong>-->
<!--Chandrachud Supreme Court On improving people’s access to justice, the CJI said language is a barrier and the SC has taken steps to translate judgments into regional languages.-->
<!--Listen to this article-->

<!--00:00-->
<!--1x-->
<!--1.5x-->
<!--1.8x-->
<!--Speaking on the separation of powers between the executive, legislature and judiciary, Chief Justice of India D Y Chandrachud said on Saturday that while the legislature can enact a fresh law to “cure the deficiency” in a law, it cannot “directly overrule” a court judgment.-->

<!--“There is a dividing line between what the legislature can do and what the legislature cannot do when there is a judgment of the court. If there is a judgment of the court which decides a particular issue and that judgment points out deficiencies in the law, it is always open to the legislature to enact a fresh law to cure the deficiency. What the legislature cannot do is to say we think this judgment is wrong and therefore we overrule the judgment. A judgment of the court cannot be directly overruled by the legislature… that’s completely impermissible… but if a judgment takes a particular view of a legislation, it is always open to the legislature to cure the defect,” he said at the Hindustan Times Leadership Summit.-->

<!--The CJI said that in 1951, when the SC held that provisions for reservation would not extend to educational institutions, the Parliament amended the law to bring reservation in educational institutions-->
<!--        </strong>-->
<!--        </p>-->
<!--    <table>-->
<!--        <tr>-->
<!--    <td>Phone communications in Gaza have been cut off for the third time in a<br> month after Israel’s military announced it has encircled Gaza City and <br> divided the coastal strip into two.</td>-->
<!--      <h4 class="col-sm-12 border border-3 bg-danger border-secondary" style="display:inline-block;margin-right:40px;margin-bottom:20px;text-transform: uppercase;">-->
<!--    <strong>4,000 children killed in airstrikes, says Gaza's Health Ministry; Israeli ground troops set to enter Gaza city</strong></h4>-->
<!--      <img src="{% static 'images/is.jpg' %}" style="display:inline-block;margin-bottom:95px;" height="200px" width="500px"><p style="display:inline-block;margin-left:10px;margin-bottom:25px;">At least 4,008 children have been killed in the ongoing war in Gaza as<br> the death toll after nearly a month of Israeli bombings hits 9,770,<br> according to the Palestinian health ministry.-->

<!--On Sunday afternoon,<br> an Israeli air strike hit several houses near a school at the Bureji<br> refugee camp in central Gaza, killing at least 13 people,<br> according to officials at Al-Aqsa Hospital.</p>-->
<!--  </tr>-->
<!--  <tr>-->
<!--      <td>hjgjfgkjsd</td>-->
<!--  </tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--<div>-->
<!--    <p style="display:inline-block;">hgfhfjjjhjhjjhfj<img src="{% static 'images/a.gif' %}" style="display:inline-block;" height="200px" width="600px"></p>-->
<!--</div>-->
<div style="position:absolute; bottom: 20px;">
 <table class="t1" style="">
        <tr class="tr" style="">
      <h4 class="col-sm-12 border border-3  border-secondary" style="display:inline-block;margin-right:40px;margin-bottom:20px;text-transform: uppercase;border-bottom: 1px solid black;"height="200px;" width="400px">
    <strong>hello</strong></h4>
      <img src="{% static 'images/new.jpg' %}" style="display:inline-block;margin-top:450px;" height="320px" width="520px">

            <p style="display:inline-block;margin-left:15px;text-align:justify;margin-top:5px;"><strong>paragraph</strong></p>
  <img src="{% static 'images/a.gif' %}" style="display:inline-block; margin-top: -485px;border: 1px solid #555;" height="350px" width="520px">
  </tr>

    </table>

</div>

<div style="margin-bottom:150px;">
        <div class="container fluid-1" style="margin-bottom:5px;bg-secondary">
        <img src="{% static 'images/a.jpg' %}" height="200px" width="100%" style="margin-left:2px;margin-right:" class="center">
      </div>
    <div>
                 <img src="{% static 'images/a.png' %}" style="display:inline-block;margin-bottom:450px;float:right;" height="220px" width="520px">
    </div>
<div class="container" style="">
    <img src="{% static 'images/h.jpg' %}" height="250px" width="450px" style="display:inline-block;margin-left:0px;border-radius: 8px;border:2px solid black;" class="center">


      <h4 class="col-sm-12 border border-3 bg-danger border-secondary" style="display:inline-block;margin-right:40px;margin-bottom:-20px;text-transform: uppercase;border-bottom: 3px solid black;text-align:center;position: absolute;bottom: -165px;margin-left:-480px;">
    <strong>14-Year-Old Becomes Youngest Contestant To Win ₹ 1 Crore In Kaun Banega Crorepati</strong></h4>

        <p class="" style="col-sm-7 border border-3 bg-danger border-secondary;border-bottom: 3px solid black;margin-bottom:20px;   position : absolute;bottom :-460px;">
<strong>
A 14-year-old boy has created history by becoming the youngest contestant ever to win ₹ 1 crore in the popular quiz show Kaun Banega Crorepati. Mayank, a Class 8 student from Haryana's Mahendragarh, stunned viewers of the show when he correctly answered the 16th question for ₹ 1 crore on the 15th edition of the iconic show hosted by Amitabh Bachchan.
A promo posted on X by the show's makers show a confident and ambitious Mayank winning the mega prize. "The only thing that matters is your knowledge," the young contestant is heard saying in the video. The promo also shows Mr Bachchan ask Mayank's parents about his extraordinary performance. "He has stressed his school teachers too. He is two steps ahead of them in the classroom," his father quips.

In his quest to win the huge prize, Mayank also displayed excellent gameplay as he won ₹ 3.2 lakh without using any lifelines and used his first lifeline for the ₹ 12.5 lakh question.The young contestant says he felt "very fortunate" to showcase his hunger for knowledge at the platform and thanked his parents and host Amitabh Bachchan for their support. "I feel very fortunate to have had the opportunity to display my knowledge on ‘KBC Juniors Week' and play the game opposite Amitabh Sir, who motivated me throughout. To be the youngest contestant to win such a huge amount is a moment of pride for me and my family. We are big fans of the show and Bachchan Sir! I would also take this opportunity to thank my parents for their consistent guidance that helped me to play well and achieve the 1 crore feat," he said.
        </strong>
        </p>
</div>
    <div>
    <table class="t1">
        <tr class="tr" style="">
            <td class="td" style="vertical-align: text-top;"><strong><p style=" position:relative;top:-450px;">phone communications in Gaza have been cut off for the third<br> time in a month after Israel’s military announced it has  encircle<br>d GazaCity and divided the coastal strip into two.</p></strong></td>
      <h4 class="col-sm-12 border border-3 bg-danger border-secondary" style="display:inline-block;margin-right:40px;margin-top:-80px;text-transform: uppercase;border-bottom: 3px solid black;text-align:center;">
    <strong>4,000 children killed in airstrikes, says Gaza's Health Ministry; Israeli ground troops set to enter Gaza city</strong></h4>
      <img src="{% static 'images/gaza.jpg' %}" style="display:inline-block;margin-bottom:450px;" height="280px" width="450px">

            <p style="display:inline-block;margin-left:11px;text-align:justify;margin-top:5px;position:relative;top:-43px;text-align:justify;"><strong>At least 4,008 children have been killed in the ongoing war in Gaza as the death toll after nearly a month of<br> Israeli bombings hits 9,770,according to the Palestinian health ministry.

On Sunday afternoon,an Israeli air<br>strike hit several houses near a school at the Bureji refugee camp in
                central Gaza, killing at least 13 people,<br>according to officials at Al-Aqsa
                Hospital.An estimated 5,500 children have been killed in the Gaza Strip<br>since October 7,
                according to Gaza's government media office,amid widespread airstrikes by the Israeli<br>
                military. Hundreds more are reported missing and may be trapped under the rubble.Israeli
                airstrikes have<br>hit schools, hospitals, and ambulances in Gaza,resulting in civilian
                casualties. At least 300 schools have<br>been damaged and 183 teachers killed. The World
                Health Organization has reported that at least 553 peo<br>ple have been killed in 178
                attacks on medical facilities in Gaza between October 7 and November 21,and<br>that the
                majority of hospitals in Gaza are no longer functional.
                Israel’s blockade of water,food,medical<br>supplies, electricity and fuel,and denial of all
                but a trickle of humanitarian assistance into Gaza amounts to<br>collective punishment of
                the civilian population that poses further grave risks to children.</strong></p>

  </tr>

    </table>







        <div class="container-fluid mt-4" style="margin-bottom:100px;">
    <div class="row">
        {% for i in news %}
        <div class="col-sm-3">
            <div class="card" style="width:18rem;height:100%;">
  <img src="{{i.news_image.url}}" class="card-img-top" height="150px" width="100%" alt="...">
  <div class="card-body">
    <h3 class="card-title text-center text-uppercase">{{i.news_title}}</h3>
    <p class="card-text">{{i.news_desc}}</p>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>
<h1>hello</h1>
{% endblock %}