<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if not cart %}
    <div style="display:inline-block;"><a href="#"><h1>link</h1></a></div>
    <div style="display:inline-block;">
<img src="{% static 'images/lap.png' %}"  style="height:80px;width:120px;margin-top:-20px;">
</div>
<div>
    <h1 class="text-center">Cart is Empty</h1>
    <strong><a href="{% url 'newspaper:newscategory' %}">Continue Shopping</a></strong>

{% else %}
    <div class="container-fluid" style="margin-bottom:100px;">
<div class="row">
    <h3 class="text-center">Shopping Cart</h3>
    <div class="col-sm-6">
        <table class="table table-bordered">
            <tr>
                <th colspan="5" class="text-center"><h3>CART ITEMS</h3></th>
            </tr>
            {% for i in cart %}
            <tr>
                <td><img src="{{i.type.nimage.url}}" height="100px" width="100px"></td>
                <td><p><strong>{{i.type.ntypname}}</strong></p></td>
                <td><p><strong>:{{i.type.id}}</strong></p>

                <p><strong>Unit Price:{{i.type.price}}</strong></p>
                <p><strong>Quantity:{{i.quantity}}*{{i.type.price}}</strong></p></td>
                <td><p><strong>{{i.subtotal}}</strong></p></td>
                <td>
                    {% if i.quantity < i.type.stock %}
                    <a href="{% url 'cart:add_to_cart' i.type.ntypname %}"><i class="fa fa-plus-circle" style="color:red;margin:8px;" aria-hidden="true"></i></a>
                    <a href="{% url 'cart:cart_remove' i.type.ntypname %}"><i class="fa fa-minus-circle" style="color:red;margin:8px;" aria-hidden="true"></i></a>
                    <a href="{% url 'cart:full_remove' i.type.ntypname %}"><i class="fa fa-trash" style="color:red;margin:8px;" aria-hidden="true"></i></a>
                    {% else %}
                    <a href="{% url 'cart:cart_remove' i.type.ntypname %}"><i class="fa fa-minus-circle" style="color:red;margin:8px;" aria-hidden="true"></i></a>
                    <a href="{% url 'cart:full_remove' i.type.ntypname %}"><i class="fa fa-trash" style="color:red;margin:8px;" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-bordered">

                <th class="text-center"><h3>PAYMENT</h3></th>

            <tr>
                <td class="text-center"><strong>Total:{{total}}</strong></td>
            </tr>
        </table>

            <div style="position:relative;">
        <a href="{% url 'cart:order_form' %}" class="btn btn-danger">Place Order</a>
        <a href="{% url 'newspaper:newscategory' %}" class="btn btn-danger" style="position:absolute;right:0;">Continue Shopping</a>
            </div>
</div>
        </div>
            </div>
</div>
{% endif %}

{% endblock %}
