<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3 xmlns="http://www.w3.org/1999/html">welcome to original home page</h3>
<!--<div class="p-4 m-4" style="height:300px;margin-bottom:100px;">-->
<!--    <img src="{% static 'images/news1.jpg' %}" width="100%" height="450px">-->
<!--</div>-->
        <div class="col-md-10;">


                <img src="{% static 'images/m1.jpg' %}"  style="height:500px;width:1500px;margin-top:10px;" class="center ">
        <p class="carousel-caption" style="font-size:85px;"><a href="/members" style="color:red;text-decoration:none;">WHAT GOES HERE??</a></p>
            <p>Back to </p>

        </div>


 <div class="container-fluid" style="margin-bottom:100px;">

    <div class="row">
                         <div class="card m-2" style="width:15rem;">
            <img src="{% static 'images/ne.jpg' %}" class="card-img-top" alt="..." style="margin-right:100px;width:100%;height:280px;">
            <div class="card-body">
                <h5 class="card-title">NEWSPAPERS</h5>
                <p class="card-text">hgfhfhgfjhghj</p>
                <a href="{% url 'newspaper:addnews' %}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

      <div class="card m-2" style="width:14rem;">
            <img src="{% static 'images/ma.jpg' %}" class="card-img-top" alt="..." style="margin-right:100px;width:100%;height:280px;">
            <div class="card-body">
                <h5 class="card-title">MAGAZINES</h5>
                <p class="card-text">hgfhfhgfjhghj</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
                         <div class="card m-2" style="width:14rem;">
            <img src="{% static 'images/doc.jpg' %}" class="card-img-top" alt="..." style="margin-right:100px;width:100%;height:280px;">
            <div class="card-body">
                <h5 class="card-title">DOCUMENTARIES</h5>
                <p class="card-text">hgfhfhgfjhghj</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
         <div class="card m-2" style="width:14rem;">
            <img src="{% static 'images/ent.jpg' %}" height="250px" width="850px"  class="card-img-top" alt="..."  style="margin-right:100px;width:100%;height:280px;">
            <div class="card-body">
                <h5 class="card-title">KIDS</h5>
                <p class="card-text">hgfhfhgfjhghj</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
                 <div class="card m-2" style="width:14rem;">
            <img src="{% static 'images/spo.jpg' %}" class="card-img-top" alt="..."  style="margin-right:100px;width:100%;height:280px;">
            <div class="card-body">
                <h5 class="card-title">SPORTS</h5>
                <p class="card-text">hgfhfhgfjhghj</p>
                <a href="#" class="btn btn-primary">DETAILS</a>
            </div>
        </div>


    </div>
          </div>
</div>
          </div>

{% endblock %}
