<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="position:absolute;margin-top: -50%;">
 <table class="t1" style=>
        <tr class="tr" style="">
      <h4 class="col-sm-12 border border-3  border-secondary" style="display:inline-block;margin-right:40px;margin-top:180px;text-transform: uppercase;border-bottom: 1px solid black;"height="600px;" width="500px">
    <strong>hello</strong></h4>
      <img src="{% static 'images/new.jpg' %}" style="display:inline-block;margin-top:50px;margin-bottom:450px;" height="320px" width="520px">

  <img src="{% static 'images/a.gif' %}" style="display:inline-block; margin-top:-450px;border: 1px solid #555;" height="350px" width="520px">
  </tr>

    </table>

</div>
<div style="width:280px;">
{% now "js F Y H:i" %}
</div>
<div style=" ">
    <img src="{{newspaper.news_image.url}}" height="300px" width="100%">
</div>

<div class="epaper-date">Thursday, Dec 14, 2023</div>



<div style="margin-bottom:150px;">
        <div class="container fluid-1" style="bg-secondary">
        <img src="{% static 'images/a.jpg' %}" height="200px" width="100%" style="margin-left:2px;margin-top:6px;" class="center">
      </div>
</div>
<div style="position: relative;left:-50px;top:-145px;">
<div class="container" style="" >
    <img src="{% static 'images/h.jpg' %}" height="250px"  style="display:inline-block;border-radius: 8px;border:2px solid black;" class="">
    <h4 class="col-sm-8 border border-2 bg-danger border-secondary" style="display:inline-block;text-transform: uppercase;border-bottom: 3px solid black;position: absolute;">
    <strong>14-Year-Old Becomes Youngest Contestant To Win<br> ₹ 1 Crore In Kaun Banega Crorepati</strong></h4>
</div>
</div>
        <p class="" style="col-sm-7 border border-3 bg-danger border-secondary;border-bottom: 3px solid black;margin-bottom:20px;position :relative;top :-130px;display:inline-block;text-align:justify;">
<strong>
A 14-year-old boy has created history by becoming the youngest contestant ever to win ₹ 1 crore in the popular quiz show Kaun Banega Crorepati. Mayank, a Class 8 student from Haryana's Mahendragarh, stunned viewers of the show when he correctly answered the 16th question for ₹ 1 crore on the 15th edition of the iconic show hosted by Amitabh Bachchan.
A promo posted on X by the show's makers show a confident and ambitious Mayank winning the mega prize. "The only thing that matters is your knowledge," the young contestant is heard saying in the video. The promo also shows Mr Bachchan ask Mayank's parents about his extraordinary performance. "He has stressed his school teachers too. He is two steps ahead of them in the classroom," his father quips.

In his quest to win the huge prize, Mayank also displayed excellent gameplay as he won ₹ 3.2 lakh without using any lifelines and used his first lifeline for the ₹ 12.5 lakh question.The young contestant says he felt "very fortunate" to showcase his hunger for knowledge at the platform and thanked his parents and host Amitabh Bachchan for their support. "I feel very fortunate to have had the opportunity to display my knowledge on ‘KBC Juniors Week' and play the game opposite Amitabh Sir, who motivated me throughout. To be the youngest contestant to win such a huge amount is a moment of pride for me and my family. We are big fans of the show and Bachchan Sir! I would also take this opportunity to thank my parents for their consistent guidance that helped me to play well and achieve the 1 crore feat," he said.
        </strong>
        </p>
</div>
 <div style="margin-top:-105px;">
    <table class="t1">
        <tr class="tr" style="">
            <td class="td" style="vertical-align: text-top;" ><strong><p style="position:relative;top:-450px;border-bottom: 3px solid black;margin-top:-2px;">phone communications in Gaza have been cut off for the third<br> time in a month after Israel’s military announced it has  encircle<br>d GazaCity and divided the coastal strip into two.</p></strong></td>
      <h4 class="col-sm-12 border border-3 bg-danger border-secondary" style="display:inline-block;margin-right:40px;margin-top:-80px;text-transform: uppercase;border-bottom: 3px solid black;text-align:center;">
    <strong>4,000 children killed in airstrikes, says Gaza's Health Ministry; Israeli ground troops set to enter Gaza city</strong></h4>
      <img src="{% static 'images/gaza.jpg' %}" style="display:inline-block;margin-bottom:450px;" height="280px" width="450px">

            <p style="display:inline-block;margin-left:490px;position:absolute;left:3px;text-align:justify;border-bottom: 3px solid black;"><strong>At least 4,008 children have been killed in the ongoing war in Gaza as the death toll after nearly a month of Israeli bombings hits 9,770,according to the Palestinian health ministry.

On Sunday afternoon,an Israeli airstrike hit several houses near a school at the Bureji refugee camp in
                central Gaza, killing at least 13 people,<br>according to officials at Al-Aqsa
                Hospital.An estimated 5,500 children have been killed in the Gaza Strip<br>since October 7,
                according to Gaza's government media office,amid widespread airstrikes by the Israeli<br>
                military. Hundreds more are reported missing and may be trapped under the rubble.Israeli
                airstrikes have<br>hit schools, hospitals, and ambulances in Gaza,resulting in civilian
                casualties. At least 300 schools have<br>been damaged and 183 teachers killed. The World
                Health Organization has reported that at least 553 peo<br>ple have been killed in 178
                attacks on medical facilities in Gaza between October 7 and November 21,and<br>that the
                majority of hospitals in Gaza are no longer functional.
                Israel’s blockade of water,food,medical<br>supplies, electricity and fuel,and denial of all
                but a trickle of humanitarian assistance into Gaza amounts to<br>collective punishment of
                the civilian population that poses further grave risks to children.</strong></p>
        </tr>
    </table>
 </div>

<div style="background:black;margin-top:-330px;">
<h1 style="color:white;">In major security breach, two men enter Lok Sabha, open smoke canisters; 4 held</h1>
    <img src="//images.indianexpress.com/2023/12/Untitled-design-5-1.jpg?w=930" style="margin-left:180px;" alt="In major security breach, two men enter Lok Sabha, open smoke canisters" width="930" height="523;">

    <table>

  <tr >
    <td style="color:white;padding-left: -15px;"></td>
      <td style="color:white;"><a class="nav-link active" aria-current="page" href="">4 involved in security<br> breach at Parliament<br> identified</a></td>

    <td ><img src="//images.indianexpress.com/2023/08/Parliament-security-breach.jpg?w=210" alt="LIVE | 4 involved in security breach at Parliament identified" width="100" height="55"></td>

    <td style="  border-left: 2px solid white;height:80px;color:white;"><a class="nav-link active" aria-current="page" href="">Who is BJP MP<br> Pratap Simha, who<br> issued visitor passes<br> for the accused</a></td>


    <td ><img src="//images.indianexpress.com/2023/12/pratap-parliament-1600.jpg?w=210" alt="Who is BJP MP Pratap Simha, who issued visitor passes for the accused" width="100" height="55"></td>

    <td style="  border-left: 2px solid white;height:80px;color:white;"><a class="nav-link active" aria-current="page" href="">Who is BJP MP<br> Pratap Simha, who<br> issued visitor passes<br> for the accused</a></td>
 <td> <img src="//images.indianexpress.com/2023/12/Parliament-security-breach.jpg?w=210" alt="Engineering graduate, farmer’s son: Who is Manoranjan D, man who barged into Parliament?" width="100" height="55"></td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>

    <p>fufjh</p>
</div>
<table>
    <div>
  <tr style="">
    <th>Company</th>
      <th style="margin-right:30px;"><span style="float: left">Book at Over 900,000 Hotels Worldwide now. Quick, Easy Booking. Great Rates. Choose From a Wide Range of Properties Which Booking.com Offers! We speak...</span></th>
    <th>

    <img class="yGh0CfFS4AMLWjEE9W7v" style="margin-left:290px;" src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&amp;w=0&amp;k=20&amp;c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc=" style="margin-left:380px;" alt="Resort Swimming Pool A resort swimming pool at twilight hotel exterior night stock pictures, royalty-free photos &amp; images" width="612" height="300">
</div></th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>

</table>
    <p style="color:white;border-bottom: 3px solid black;border-bottom-color: #92a8d1;">jhbjhhbk</p>



    <div class="row">
        {% for i in t %}
        <p class="card-text"><strong>Price:{{i.price}}</strong></p>

        <div style="display-inline:block">
    <div class="star-ratings" style="display-inline:block"> <div class="hide_rating"><span>Rating:<span> 1 </span> out of  <span>5</span></span></div>
<img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-one.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-one.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-half.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-no.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-no.png">&nbsp;&nbsp;&nbsp;&nbsp;
<img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-one.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-no.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-no.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-no.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-no.png">&nbsp;&nbsp;&nbsp;&nbsp;
<img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-one.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-one.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-half.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-no.png"><img alt="" src="https://indianexpress.com/wp-content/themes/indianexpress/images/rating/star-no.png"></ul></div>
</div>

        <a href="{% url 'newspaper:newsdetails' i.ntypname %}" style="" class="btn btn-success">Details</a>
    </div>




{% endfor %}

{% endblock %}