<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>Add Order Details</h3>
<div style="margin-bottom:100px;">
<form method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Address</label>
    <input type="text" class="form-control" name="a" placeholder="Enter your Name here">
  </div>
    <div class="mb-3">
    <label class="form-label">Phone Number</label>
    <input type="number" class="form-control" name="p" placeholder="Enter your Phone Number">
  </div>
    <div class="mb-3">
    <label class="form-label">Account Number</label>
    <input type="number" class="form-control" name="n" placeholder="Enter Account Number">
  </div>
<div class="mb-3">
  <input class="form-control" type="submit">
</div>
</form>
  </div>
{% endblock %}