<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if not cart %}
<div>
    <h1 class="text-center">Cart is Empty</h1>
    <strong><a href="{% url 'shop:allprodcat' %}">Continue Shopping</a></strong>
</div>
{% else %}
<div class="container-fluid" style="margin-bottom:100px;">
    <div class="row">
    <h3 class="text-center mt-4">SHOPPING CART</h3>
    <div class="col-sm-6">
        <table class="table table-bordered">
        <tr><th colspan="5" class="text-center">CART ITEMS</th></tr>
        {% for i in cart %}
        <tr>
            <td><img src="{{i.product.image.url}}" height="100px" width="150px"></td>
            <td style="color:brown;text-transform:uppercase;"><p><strong>{{i.product.pname}}</strong></p></td>
            <td><p><strong>PRODUCT ID:{{i.product.id}}</strong></p>
                <p><strong>UNIT PRICE:{{i.product.price}}</strong></p>
                <p><strong>QUANTITY:{{i.quantity}}*{{i.product.price}}</strong></p></td>
                <td><p><strong>{{i.subtotal}}</strong></p></td>
            <td>
                {% if i.quantity < i.product.stock %}
            <a href="{% url 'cart:add_to_cart' i.product.pname %}"><i class="fa fa-plus-circle" style="color:red;margin:8px;" aria-hidden="true"></i></a>
            <a href="{% url 'cart:cart_remove' i.product.pname %}"><i class="fa fa-minus-circle" style="color:red;margin:8px;" aria-hidden="true"></i></a>
                <a href="{% url 'cart:full_remove' i.product.pname %}"><i class="fa fa-trash" style="color:red;margin:8px 0 8px;" aria-hidden="true"></i></a>
            {% else %}
                <a href="{% url 'cart:cart_remove' i.product.pname %}"><i class="fa fa-minus-circle" style="color:red;margin:8px;" aria-hidden="true"></i></a>
                <a href="{% url 'cart:full_remove' i.product.pname %}"><i class="fa fa-trash" style="color:red;margin:8px 0 8px;" aria-hidden="true"></i></a>
                {% endif %}
            </td>



        </tr>
        {% endfor %}
    </table>
    </div>
    <div class="col-sm-6">
    <table class="table table-bordered">
        <tr><th class="text-center">CHECK OUT</th></tr>
        <tr><th class="text-center">{{total}}</th></tr>
    </table>
        <div style="position:relative;">
        <a href="{% url 'cart:order_form' %}" class="btn btn-danger">Place Order</a>
        <a href="{% url 'shop:allprodcat' %}" class="btn btn-danger" style="position:absolute;right:0">Continue Shopping</a>
        </div>
    </div>
    </div>
</div>

{% endif %}

{% endblock %}