<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="mt-5">
    <img src="{{category.image.url}}" height="450px;" width="100%">
    </div>
<div class="container-fluid mt-5" style="margin-bottom:60px;">
    <h3 class="text-center mb-2 text-uppercase" style="color:brown;"><strong>{{category.cname}}</strong></h3>
    <p style="text-align:justify;line-height:1.7;">{{category.description}}</p>
</div>
<div class="container-fluid mt-5" style="margin-bottom:100px;">
    <div class="row">
        {% for i in p %}
        <div class="col-sm-4">
        <div class="card" style="width:24rem;">
  <img src="{{i.image.url}}" class="card-img-top" height="200px" width="100%" alt="...">
<div class="card-body">
      <h2 class="card-title text-uppercase text-center" style="color:green;"><strong>{{i.pname}}</strong></h2>

      <p class="card-text text-center">{{i.price}}</p>
    <a href="{% url 'shop:detail' i.pname %}" style="position:relative;left:40%;" class="btn btn-primary">DETAILS</a>
  </div>

</div>

        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}