<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Details</title>
</head>
<body>
    <div class="container-fluid mt-5">
        <div class="row" style="margin-bottom:100px;">
            <div class="col-sm-5">
                <img src="{{listprod.Image.url}}" height="350px" width="370px">
    
            </div>
            <div class="col-sm-5 mt-3">
              <h3 class="text-uppercase mb-5">{{listprod.Product_Name}}</h3>
                <h5 class="mb-3">Product Description</h5>
                <p class="mb-5" style="text-align:justify;line-height:1.7;" >{{listprod.Description}}</p>
                <h6>{{listprod.Amount}}</h6>
                {% if user.is_superuser != True %}
                {% if listprod.Quantity <= 0 %}
                <h4 class="mt-2">OUT OF STOCK</h4>
                {% else %}
                <a href="" class="btn btn-danger mt-4">ADD TO CART</a>
                {% endif %}
                {% else %}
                {% if listprod.Quantity <= 0 %}
                <a href="{% url 'index' %}" class="btn btn-danger mt-4">ADD STOCK</a>
                {% endif %} {% endif %}
            </div>
        </div>
    </div>
</body>
</html>